/AbandonedConnectionCleanupThread$ConnectionFinalizerPhantomReference.class
/AbandonedConnectionCleanupThread.class
/AssertionFailedException.class
/AuthenticationPlugin.class
/BalanceStrategy.class
/BestResponseTimeBalanceStrategy.class
/Blob.class
/BlobFromLocator$LocatorInputStream.class
/BlobFromLocator.class
/Buffer.class
/BufferRow.class
/ByteArrayRow.class
/CacheAdapter.class
/CacheAdapterFactory.class
/CachedResultSetMetaData.class
/CallableStatement$CallableStatementParam.class
/CallableStatement$CallableStatementParamInfo.class
/CallableStatement.class
/CharsetMapping.class
/Clob.class
/Collation.class
/CommunicationsException.class
/CompressedInputStream.class
/Connection.class
/ConnectionFeatureNotAvailableException.class
/ConnectionGroup.class
/ConnectionGroupManager.class
/ConnectionImpl$CompoundCacheKey.class
/ConnectionImpl$ExceptionInterceptorChain.class
/ConnectionImpl$NetworkTimeoutSetter.class
/ConnectionImpl.class
/ConnectionLifecycleInterceptor.class
/ConnectionProperties.class
/ConnectionPropertiesImpl$BooleanConnectionProperty.class
/ConnectionPropertiesImpl$ConnectionProperty.class
/ConnectionPropertiesImpl$IntegerConnectionProperty.class
/ConnectionPropertiesImpl$LongConnectionProperty.class
/ConnectionPropertiesImpl$MemorySizeConnectionProperty.class
/ConnectionPropertiesImpl$StringConnectionProperty.class
/ConnectionPropertiesImpl$XmlMap.class
/ConnectionPropertiesImpl.class
/ConnectionPropertiesTransform.class
/Constants.class
/DatabaseMetaData$ComparableWrapper.class
/DatabaseMetaData$IndexMetaDataKey.class
/DatabaseMetaData$IteratorWithCleanup.class
/DatabaseMetaData$LocalAndReferencedColumns.class
/DatabaseMetaData$ProcedureType.class
/DatabaseMetaData$ResultSetIterator.class
/DatabaseMetaData$SingleStringIterator.class
/DatabaseMetaData$TableMetaDataKey.class
/DatabaseMetaData$TableType.class
/DatabaseMetaData$TypeDescriptor.class
/DatabaseMetaData.class
/DatabaseMetaDataUsingInfoSchema$JDBC4FunctionConstant.class
/DatabaseMetaDataUsingInfoSchema.class
/DocsConnectionPropsHelper.class
/Driver.class
/EscapeProcessor.class
/EscapeProcessorResult.class
/EscapeTokenizer.class
/ExceptionInterceptor.class
/ExportControlled$StandardSSLSocketFactory.class
/ExportControlled$X509TrustManagerWrapper.class
/ExportControlled.class
/Extension.class
/FailoverConnectionProxy$FailoverJdbcInterfaceProxy.class
/FailoverConnectionProxy.class
/Field.class
/IterateBlock.class
/JDBC42CallableStatement.class
/JDBC42Helper.class
/JDBC42PreparedStatement.class
/JDBC42ResultSet.class
/JDBC42ServerPreparedStatement.class
/JDBC42UpdatableResultSet.class
/JDBC4CallableStatement.class
/JDBC4ClientInfoProvider.class
/JDBC4ClientInfoProviderSP.class
/JDBC4CommentClientInfoProvider.class
/JDBC4Connection.class
/JDBC4DatabaseMetaData.class
/JDBC4DatabaseMetaDataUsingInfoSchema.class
/JDBC4LoadBalancedMySQLConnection.class
/JDBC4MultiHostMySQLConnection.class
/JDBC4MySQLConnection.class
/JDBC4MysqlSQLXML$SimpleSaxToReader.class
/JDBC4MysqlSQLXML.class
/JDBC4NClob.class
/JDBC4PreparedStatement.class
/JDBC4PreparedStatementHelper.class
/JDBC4ReplicationMySQLConnection.class
/JDBC4ResultSet.class
/JDBC4ServerPreparedStatement.class
/JDBC4UpdatableResultSet.class
/LicenseConfiguration.class
/LoadBalanceExceptionChecker.class
/LoadBalancedAutoCommitInterceptor.class
/LoadBalancedConnection.class
/LoadBalancedConnectionProxy$NullLoadBalancedConnectionProxy.class
/LoadBalancedConnectionProxy.class
/LoadBalancedMySQLConnection.class
/Messages.class
/MiniAdmin.class
/MultiHostConnectionProxy$JdbcInterfaceProxy.class
/MultiHostConnectionProxy.class
/MultiHostMySQLConnection.class
/MySQLConnection.class
/MysqlCharset.class
/MysqlDataTruncation.class
/MysqlDefs.class
/MysqlErrorNumbers.class
/MysqlIO.class
/MysqlParameterMetadata.class
/MysqlSavepoint.class
/NamedPipeSocketFactory$NamedPipeSocket.class
/NamedPipeSocketFactory$RandomAccessFileInputStream.class
/NamedPipeSocketFactory$RandomAccessFileOutputStream.class
/NamedPipeSocketFactory.class
/NdbLoadBalanceExceptionChecker.class
/NetworkResources.class
/NoSubInterceptorWrapper.class
/NonRegisteringDriver.class
/NonRegisteringReplicationDriver.class
/NotImplemented.class
/NotUpdatable.class
/OperationNotSupportedException.class
/OutputStreamWatcher.class
/PacketTooBigException.class
/ParameterBindings.class
/PerConnectionLRUFactory$PerConnectionLRU.class
/PerConnectionLRUFactory.class
/PerVmServerConfigCacheFactory.class
